html {
    background-color: #BBF3F9;
  }
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
      background-color: #FFFF;
      color: #385596;
      background-size: 50px;
      background-position: 20px 25%;
      background-repeat: no-repeat;
      width: 200px;
      height: 59px;
      font-size: 20px;
      border: 1px solid #a8b4c9;
      text-align: center;
      text-indent: 32px;
  }
  
  #botao1 {
    background-image: url(https://media.tenor.com/images/4937b993545881c736347db0d079b5a4/tenor.gif);
  }
  
  #botao2 {
    background-image: url(https://i.pinimg.com/originals/ff/05/c3/ff05c30c63f5b676ad90f003c73b08a1.gif);
  }
  
  #botao3 {
    background-image: url(https://media3.giphy.com/media/M9Tq8Dq1NmIcsotUk5/giphy.gif);
  }